<!DOCTYPE html>
<html lang="ko" class="login_html">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="style.css">

        <script src="/js/home/login.js"></script>
    </head>

    <body class="login_body">
        <header>

        </header>
        <section class="login_section">
            <div class="loginbox">
                <h2>LOGIN</h2>
                <form action="#">
                    <fieldset class="login_area">
                        
                        <div>
                            <label for="loginid"> 아이디(E-mail)</label>
                            <input type="text" id="loginid" placeholder="아이디를 입력해주세요.">
                        </div>
                        <div>
                            <label for="loginpw"> 비밀번호</label>
                            <input type="password" id="loginpw" placeholder="비밀번호를 입력해주세요.">

                        </div>

                        <ul>
                            <li><a href="#"> 아이디/비밀번호찾기 </a></li>
                            <li><a href="#"> 회원가입 </a></li>
                        </ul>
                        <button type="submit"> 로그인 </button>
                    </fieldset>
                </form>
            </div>
        </section>
        <footer>

        </footer>
    </body>

</html>